.login {
  position: relative;
  font-family: var(--font-koulen);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 594px;
  height: 75px;
  flex-shrink: 0;
}
.googleLogin {
  position: relative;
  font-weight: 800;
}
.frame2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-skyblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 288px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-82xl);
}
.frame1 {
  width: 290px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.frame,
.frame1,
.frame3,
.signInHere {
  display: flex;
  justify-content: center;
}
.signInHere {
  position: relative;
  align-items: center;
  width: 211px;
  height: 32px;
  flex-shrink: 0;
}
.frame,
.frame3 {
  width: 220px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--font-size-mini);
}
.frame {
  width: 594px;
  height: 438px;
  flex-shrink: 0;
  align-items: center;
  gap: var(--gap-36xl);
  text-align: center;
  font-size: var(--font-size-71xl);
  color: var(--color-black);
  font-family: var(--font-nanumgothic);
}
