.chat1Child {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-skyblue);
  width: 370px;
  height: 70px;
  z-index: 0;
}
.chat1Item,
.chats {
  position: absolute;
  margin: 0 !important;
}
.chats {
  top: 24.9px;
  left: 52.5px;
  display: flex;
  align-items: center;
  width: 281.2px;
  height: 31.1px;
  flex-shrink: 0;
  z-index: 1;
}
.chat1Item {
  top: 19.4px;
  left: 13.3px;
  width: 29.6px;
  height: 32.7px;
  object-fit: cover;
  z-index: 2;
}
.chat1,
.user1 {
  display: flex;
  align-items: center;
}
.user1 {
  position: absolute;
  margin: 0 !important;
  top: 8.6px;
  left: 52.5px;
  color: var(--color-black);
  width: 96.2px;
  height: 12.4px;
  flex-shrink: 0;
  z-index: 3;
}
.chat1 {
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-koulen);
}
