.buskers,
.buskersWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buskers {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  height: 74px;
}
.buskersWrapper {
  width: 284px;
  flex-direction: row;
}
.broadcastIcon,
.userProfileIcon {
  position: relative;
  width: 66px;
  height: 62px;
  object-fit: cover;
}
.userProfileIcon {
  width: 70px;
  height: 70px;
}
.frame,
.frameParent {
  display: flex;
  flex-direction: row;
}
.frame {
  width: 1551px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-69xl);
}
.frameParent {
  position: absolute;
  top: 18px;
  left: 25px;
  height: 90px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.navBar {
  margin: 0;
  align-self: stretch;
  position: relative;
  background-color: var(--color-skyblue);
  height: 135px;
  text-align: center;
  font-size: var(--font-size-71xl);
  color: var(--color-black);
  font-family: var(--font-koulen);
}
