.frameChild {
  width:100%;
  height:auto;
}
.frameInnerLeft {
  position: relative;
  width: 3%;
  height: auto;
}
.frameInnerRight{
  width:3%;
  height: auto;
  align-items: flex-end;
}
.frameDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 0 0;
  box-sizing: border-box;
}
.frame,
.frame1,
.mainPage {
  display: flex;
  align-items: center;
}
.frame1 {
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.frame,
.mainPage {
  flex-direction: column;
  justify-content: center;
}
.frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-shrink: 1;
  gap: var(--gap-3xs);
}
.mainPage {
  background-color: var(--color-white);
  width: 100%;
  flex-direction: row;
}

.noBusking{
  font-size: 4vw;
  width: 30%;
  justify-content: center;
  text-align: center;
  font-family: var(--font-koulen);
  gap: 20px;
  margin-top:20%;

}