.chatInputChild {
  position: absolute;
  top: 70.5px;
  left: 67.5px;
  width: 266.4px;
  height: 1px;
}
.chatInputItem {
  position: absolute;
  top: 27px;
  right: 28.4px;
  width: 29.6px;
  height: 44px;
  object-fit: cover;
}
.textarea {
  border: 0;
  background-color: transparent;
  height: auto;
  width: auto;
  font-family: var(--font-koulen);
  font-size: var(--font-size-lg);
  position: absolute;
  top: 31px;
  left: 67.5px;
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
}
.chatInputInner {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 29.6px;
  height: 42px;
  object-fit: cover;
}
.userName {
  position: absolute;
  top: 12px;
  left: 67.5px;
  display: flex;
  align-items: center;
  width: 96.2px;
  height: 16px;
}
.chatInput {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-skyblue);
  height: 90px;
}
.chat1Parent {
  width: 481px;
  height: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-381xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-koulen);
}
